/* ヘッダー部分 */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

/* 本体 */
.main{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* 表示種類セレクトボックス */
.form{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.kindselect{
    padding-left:12px;
    padding-right:8px ;
    margin: 8px;
    margin-bottom: 20px;
    outline: none;
    border-bottom: 3px solid #ffc000;
}

.kindItem:focus {
  background-color: #ffc000; 
}

/* 店舗一覧の表 */
.storeRequestList{
    text-align: center;
}

.storeRequestList th{
    background-color: #fff1c2;
}

.storeRequestList tr{
    border: 2px solid #e8e8e8;
    line-height: 40px;
}