.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,      /* 塗りつぶしなし */
    'wght' 400,    /* ウェイト（太さ） */
    'GRAD' 0,       /* グラデーションなし */
    'opsz' 24;      /* 最適化サイズ */
}

/* 検索とカテゴリーボタンが入るコンテナ */
.Barcontainer{
  position: relative;
  display: flex;
  justify-content: center;      /* 横方向中央揃え */
  align-items: center;
}

/* 検索バー */
.searchBar {
  margin-bottom: 20px;            /* 下に余白 */
  margin-top: 20px;            /* 下に余白 */
}

/* 検索バーの入力欄と虫眼鏡アイコンを包んでいるコンテナ要素 */
.searchWrapper {
  display: flex;         /* 入力とアイコンを横並びに */
  align-items: center;    /* 縦位置を中央揃え */
  width: 768px;      /* 幅を固定 */
  height: 40px;
  padding: 0 20px;            /* 左右に内側余白 */
  border-radius: 42px;       /* 丸みをつける */
  background: #ffffff;   /* 背景白 */
  box-shadow:
    inset 5px 5px 10px #a6b4c8,       /* 内側の影（左下） */
    inset -5px -5px 15px #ffffff;     /* 内側の影（右上） */
  border: 1px solid #ccc;     /* 枠線 */
}

/* 虫眼鏡アイコン */
.searchIcon {
  font-size: 24px;
  color: #999;
  margin-right: 12px;      /* 入力との間に余白 */
}

/* 検索入力欄の「テキスト部分だけ」へのスタイル */
.searchWrapper input {
  flex: 1;       /* アイコンの横で、残りの幅ぜんぶ使う */
  border: none;  /* 枠線を消す（親に枠をつけてるため） */
  outline: none;   /* フォーカス時の青い縁を消す（デフォルト無効） */
  font-size: 16px;
  background: transparent;     /* 背景を透明に（親が背景を持ってるので） */
}

/* 検索欄のプレースホルダー（"店舗検索"の文字） */
.searchWrapper input::placeholder {
  text-align: center;
}


/* カテゴリー編集ボタン */
.categoriesButton{
  background-color: #ffc000;
  color: white;
  border: 1.5px solid #d3d3d3;
  padding: 5px 20px;            /* 左右に内側余白 */
  border-radius: 42px;       /* 丸みをつける */
  cursor: pointer;
  position: absolute;
  right: 80px;
}


/* 矢印とカテゴリータグを包む枠 */
.filterScrollWrapper {
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
}

/* 左右の矢印アイコン（Material Symbols）の見た目設定 */
.scrollIcon {
  font-size: 32px;
  color: rgba(100, 100, 100, 0.25);
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
}

.scrollIcon:hover {
  color: rgba(100, 100, 100, 0.5);
}

/* 左右の矢印アイコン（Material Symbols）の見た目設定 */
.left {
  transform: scaleX(-1);
}

/* カテゴリーボタンの横スクロール領域 */
.filterScroll {
  border-bottom: 1px solid #ccc;
  overflow-x: auto;       /*横にスクロールできるように*/
  white-space: nowrap;    /*ボタンを折り返さず一列に並べる*/
  padding-bottom: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 横スクロールバーを非表示に */
.filterScroll::-webkit-scrollbar {
  display: none;
}

/* 中にある各カテゴリータグを横並びで配置するグループ要素 */
.filterButtons {
  display: inline-flex;
  gap: 10px;
}

/* カテゴリータグのスタイル */
.filterButton {
  border: none;
  border-radius: 999px;
  padding: 8px 20px;
  background: #ddd;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s, color 0.3s;
  color: #333;
}

/* カテゴリータグクリックしたとき */
.active {
  background: #ffc000;
  color: #fff;
}


/* 本体 */
.main{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* 表示種類セレクトボックス */
.form{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.kindselect{
    padding-left:12px;
    padding-right:8px ;
    margin: 8px;
    margin-bottom: 20px;
    outline: none;
    border-bottom: 3px solid #ffc000;
}

.kindItem:focus {
  background-color: #ffc000; 
}

/* 表を表示するエリアに対するスタイル */
.tablearea{
  display: flex;
  justify-content: center;      /* 横方向中央揃え */
}

/* 店舗一覧の表 （承認）*/
.storeRequestList{
  width: 98%;
  text-align: center;
}

.storeRequestList th{
    background-color: #fff1c2;
}

.storeRequestList tr{
    border: 2px solid #e8e8e8;
    line-height: 40px;
}

.requeststore{
  cursor: pointer;
}

.requeststore:hover{
  outline: 2px solid #ffd700; /* 外枠の色と太さ */
}

/* 店舗一覧の表（公開） */
.visibleshops{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4列にする */
  gap: 25px;
  margin: 10px 40px;
  position: relative;
}

.visibleshop{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px;
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.visibleshop:hover{
  transform: translateY(-3px);
  box-shadow:
    5px 5px 10px #A6B4C8,     /* 内側の影（左上） */
    -5px -5px 15px #ffffff;  /* 内側の影（右下） */
}

.nothing {
  white-space: nowrap;           /* 改行禁止 */
  grid-column: 1 / -1; /* グリッドの全列にまたがる */
  text-align: center;   /* 文字を中央寄せ */
  margin: 20px 0;       /* 上下の余白 */
}

.storephoto{
  width: 230px;
  height: 130px;
}

.storedetail{
  width: 230px;   /* 横幅を固定 */
  height: 127px;  /* 高さを固定 */
  box-sizing: border-box; /* padding込みでサイズ計算 */
}

.openContent{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 5px 0px 10px;
  gap: 5px;
}

.privatebutton{
  color: #c52a3f;
  font-weight: bold;
}

.privatebutton:hover{
  color: red;
}

.publicbutton{
  color: #2a46c5;
  font-weight: bold;
}

.publicbutton:hover{
  color: blue;
}

.smalltext{
  font-size: 15px;
  text-decoration-line:underline;
}

.smalltext:hover{
  color:#0049a9;
}

.closedContent{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 5px;
  gap: 5px;
}

.storecategory{
  font-size: 15px;
}

.displaychange{
  position: absolute;
  right: 10px;
  bottom: 105px;
  cursor: pointer;
}

.displaychange:hover{
  background-color: #ccc;
  border-radius: 50px;
}

.storename{
  font-size: 20px;
  font-weight: bold;
}

.storeadress{
  font-size: 15px;
}


.nothing{ /* 該当する店舗がない場合の表示 */
  padding: 3%;
  font-size: 120%;
  font-weight: bold;
}

/* カテゴリー編集モーダル */
.BackcategoriesModal {    /* モーダルの背景（半透明の黒） */
  position: fixed;        /* 画面全体に固定 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒背景 */
  display: flex;          /* 中央寄せのためにflex */
  align-items: center;
  justify-content: center;
  z-index: 9999;           /* 最前面 */
}

/* モーダル本体 */
.categoriesModal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  height: 85%;
  width: 50%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* モーダル内ヘッダー */
.modalheader{
  display: flex;
  justify-content: space-between;   /* 左右端に配置 */
  padding: 15px 5px;
  align-items: center;
}

.title{
  font-size: 25px;
  font-weight: bold;
}

.deleteicon{
  margin-left: 5%;
  margin-right: 3%;
  cursor: pointer;
}

.closebutton{
  font-size: 23px;
  margin-right: 5%;
  cursor: pointer;
}

/* カテゴリー追加テキストボックス */
.addcategories{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 15px 50px;
  border: 1px solid #333;
  border-radius: 10px;
}

.addcategories:focus-within{
  border: 2px solid #ffc000;
}

.addtextbox{
  padding: 3px 20px;
  outline: none;
}

.addbutton{
  position: absolute;
  font-size: 15px;
  right: 10%;
  top: 20%;
  padding: 3px 15px;
  color: white;
  background-color: #333;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 30px;
}

/* すべてのカテゴリーをまとめて表示 */
.allcategories{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 1列4つ */
  gap: 15px; /* アイテム間の余白 */
  padding: 10px 30px;
  margin-top: 20px;
  max-height: 270px;  /* 高さを制限 */
  overflow-y: auto;   /* 縦方向にスクロール */
}

.largeFont , .smallFont{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: white;
  background-color: #ffc000;
  border: 1px solid #ffc000;
  border-radius: 50px;
  cursor: pointer;
}

.smallFont{
  font-size: 12px;
}

/* 公開確認モーダル本体 */
.publicModal , .privateModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  height: 30%;
  min-width: 30%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.BackpublicModal{
  position: fixed;        /* 画面全体に固定 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒背景 */
  display: flex;          /* 中央寄せのためにflex */
  align-items: center;
  justify-content: center;
  z-index: 9999;           /* 最前面 */
}

.choicestore{
  font-size: 20px;
}

.controlbutton{
  display: flex;
  gap: 20px;
}

.public{
  width: 130px;
  height: 40px;
  font-size: 17px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid #999;
  border-radius:8px;
}

.OK{
  background-color: #ffc000;
  color: white;
}